<h2 id="title">Category Selector</h2>
<p>some words</p>
<button {{action 'changeData'}}>change</button>
<button {{action 'filterData'}}>filter</button>
<br><br>
{{outlet}}
{{category-selector Data=fauxData}}
